main {
  padding: 30px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
form {
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

div.form-step {
  width: 100%;
  max-width: 550px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 20px;
  border-radius: 12px;
  box-shadow: var(--shadow);
  border: solid 2px var(--primary);
}

.step-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.step-title p {
  color: var(--primary);
  font-weight: bold;
}

.form-fields {
  width: 100%;
  display: flex;
  gap: 15px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.form-field {
  width: 100%;
  display: flex;
  gap: 3px;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

img#webpay {
  width: 120px;
}

#form-payment-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#form-price {
  font-weight: bold;
}
