/* ================================PRESET===============================*/

i {
  font-size: 1.2rem;
  color: #0a369d;
}

li {
  display: flex;
  gap: 7px;
}

form {
  padding: 50px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 75px;
  width: 100%;
}

input[type="radio"] {
  display: none;
}

/* ================================SWITCH===============================*/

#switch-section {
  overflow: hidden;
  box-shadow: var(--shadow);
  border: solid 1px lightgray;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

label[for="yearly"],
label[for="monthly"] {
  border-radius: 30px;
  padding: 8px 16px;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  color: rgb(183, 183, 183);
}

#yearly:checked ~ label[for="yearly"],
#monthly:checked ~ label[for="monthly"] {
  color: white;
  background-color: var(--primary);
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}

/* ================================LICENCE===============================*/

section#plans {
  width: 100%;
  display: flex;
  gap: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section#plans-table {
  width: 100%;
  max-width: 900px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row: 1fr;
  gap: 30px;
}

article.plan {
  display: flex;
  gap: 30px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border: solid 1px lightgray;
  padding: 25px;
  background-color: white;
  border-radius: 12px;
}

article#pro-plan {
  transform: scale(1);
  border: solid 2px #0a369d;
}

article.plan > span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

ul.features-list {
  gap: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

article.plan button {
  width: 100%;
}

.price {
  font-size: 3rem;
  color: var(--primary);
  font-weight: 500;
}

section#plans h2 {
  font-size: 2.5rem;
}

/* ================================HARDWARE===============================*/
section#hardware {
  width: 100%;
  display: flex;
  gap: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section#hardware-box {
  padding: 10px 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border: solid 1px lightgray;
  background-color: white;
  border-radius: 12px;
}

.hardware-option {
  margin-top: 5px;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  justify-content: center;
  align-items: center;
}

.hardware-option p {
  max-width: 350px;
  width: 100%;
}

.hardware-price-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image-and-name {
  display: flex;
  gap: 30px;
  justify-content: start;
  align-items: center;
}

.hardware-image {
  height: 100px;
  width: 100px;
}

/* ================================CALCULATION===============================*/

section#calculation {
  width: 100%;
  display: flex;
  gap: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section#calculation-box {
  width: 100%;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

article.calculation-field {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section#continue-field {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}

input[type="number"] {
  width: 75px;
}

/* ================================RESPONSIVITY===============================*/

@media (max-width: 800px) {
  section#plans-table {
    width: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-row: repeat(3, 1fr);
    gap: 30px;
  }
  article#pro-plan {
    transform: scale(1);
    border: solid 2px #0a369d;
  }
  article.plan {
    padding: 30px 75px;
  }
}

@media (max-width: 480px) {
  section#plans-table {
    width: 100%;
  }
  article.plan {
    padding: 30px 25px;
  }
}

@media (max-width: 400px) {
  h1 {
    font-size: 36px;
  }
}
