/* ================================PRESET===============================*/

i {
  font-size: 1.2rem;
  color: #0a369d;
}

li {
  display: flex;
  gap: 7px;
}

form {
  padding: 50px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 75px;
  width: 100%;
}

input[type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

input[type="checkbox"] {
  cursor: pointer;
  height: 1rem;
  width: 1rem !important;
  accent-color: var(--primary);
}

section#form-step-1 input[type="checkbox"] {
  display: none;
}

/* ================================SWITCH===============================*/

#switch-section {
  overflow: hidden;
  box-shadow: var(--shadow);
  border: solid 1px lightgray;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

label[for="yearly"],
label[for="monthly"] {
  border-radius: 30px;
  padding: 12px 16px;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  color: rgb(161, 161, 161);
}

#yearly:checked ~ label[for="yearly"],
#monthly:checked ~ label[for="monthly"] {
  color: white;
  background-color: var(--primary);
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}

/* ================================LICENCE===============================*/

section#plans {
  width: 100%;
  display: flex;
  gap: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section#plans-table {
  width: 100%;
  max-width: 900px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row: 1fr;
  gap: 30px;
}

article.plan {
  display: flex;
  gap: 30px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border: solid 1px lightgray;
  padding: 25px;
  background-color: white;
  border-radius: 12px;
}

article#pro-plan {
  transform: scale(1);
  border: solid 2px #0a369d;
}

article.plan > span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

ul.features-list {
  gap: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

article.plan button {
  width: 100%;
}

.price {
  font-size: 3rem;
  color: var(--primary);
  font-weight: 500;
}

span.pricing-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

span.pricing-wrapper p {
  margin-top: -5px;
  color: var(--primary);
}

section#plans-table label {
  width: 100%;
}

section#plans h2,
section#form-step-2 h2 {
  text-align: center;
  font-size: 2.5rem;
}

/* ================================HARDWARE & EXTENSIONS===============================*/
section#hardware,
section#extensions {
  width: 100%;
  display: flex;
  gap: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section.box {
  padding: 10px 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border: solid 1px lightgray;
  background-color: white;
  border-radius: 12px;
}

.box-option {
  margin-top: 5px;
  width: 100%;
  display: grid;
  grid-template-columns: 5fr 5fr 3fr;
  justify-content: center;
  align-items: center;
}

.box-option p {
  max-width: 350px;
  width: 100%;
}

.box-price-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image-and-name {
  display: flex;
  gap: 30px;
  justify-content: start;
  align-items: center;
}

section.product-image-wrapper {
  padding: 10px;
  width: 100%;
  max-width: 110px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

section.double-image {
  display: flex;
  gap: 5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box-image {
  height: 100%;
}

/* ================================CALCULATION===============================*/

section#calculation {
  width: 100%;
  display: flex;
  gap: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section#calculation-box {
  width: 100%;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

article.calculation-field {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section#continue-field {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}

input[type="number"] {
  width: 75px;
}

#total-no-tax,
#total-with-tax {
  font-weight: bold;
}

div.form-box {
  width: 100%;
  max-width: 550px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 20px;
  border-radius: 12px;
  box-shadow: var(--shadow);
  border: solid 2px var(--primary);
}

.step-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.step-title p {
  color: var(--primary);
  font-weight: bold;
}

.form-fields {
  width: 100%;
  display: flex;
  gap: 15px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.form-field {
  width: 100%;
  display: flex;
  gap: 3px;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

img.title-icon {
  width: 120px;
}

#form-payment-wrapper {
  margin-top: 20px;
  gap: 25px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#form-step-2 h2 {
  margin-bottom: 25px;
}

#form-price {
  font-weight: bold;
}

section#form-step-1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 75px;
}

section#form-step-2 {
  width: 100%;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

section#delivery-address-checkbox-field {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: start;
  gap: 10px;
  align-items: center;
}

div#final-buttons {
  margin-top: 10px;
  width: 100%;
  max-width: 550px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

section#delivery-address-checkbox-field label {
  cursor: pointer;
}

.delivery-address-wrapper {
  display: none;
}

.delivery-address-wrapper-visible {
  display: flex;
  width: 100%;
}

#form-price {
  color: var(--primary);
}

#form-2-price {
  font-size: 1.5rem;
}

/* ================================ZASILKOVNA===============================*/

.packeta-primary-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  width: auto;
  text-align: center;
  cursor: pointer;
  box-shadow: var(--shadow);
  border: none;
  border-radius: 8px;
  background-color: #ba1b02;
  font-size: 20px;
  font-weight: 600;
  color: white;
  padding: 14px 20px;
}

.packeta-secondary-button {
  border: solid 2px #ba1b02;
  background-color: white;
  color: #ba1b02;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  width: auto;
  text-align: center;
  cursor: pointer;
  box-shadow: var(--shadow);
  border-radius: 8px;
  font-size: 20px;
  font-weight: 600;
  padding: 14px 20px;
}

.zasilkovna-icon {
  width: 30px;
  height: 30px;
}

article.form-field:has(textarea) {
  margin-top: 30px;
}

/* ================================FORM-STEP-ERROR===============================*/
section#form-step-error {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

section#form-step-error h2 {
  color: red;
}

/* ================================FORM-STEP-SUCCESS===============================*/

section#form-step-success {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

section#form-step-success h2 {
  color: green;
}

/* ================================RESPONSIVITY===============================*/

@media (max-width: 1200px) {
  .box-option {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
  }

  .image-and-name {
    grid-row: span 2;
  }

  .box-price-wrapper {
    justify-content: end;
    gap: 30px;
  }

  .box-option p {
    justify-self: end;
    width: auto;
  }
}

@media (max-width: 800px) {
  section#plans-table {
    width: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-row: repeat(3, 1fr);
    gap: 30px;
  }
  article#pro-plan {
    transform: scale(1);
    border: solid 2px #0a369d;
  }
  article.plan {
    padding: 30px 75px;
  }
}

@media (max-width: 850px) {
  .box-option {
    justify-items: start;
    align-items: center;
    text-align: center;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .box-price-wrapper {
    justify-content: end;
  }

  .box-option p {
    justify-self: center;
    width: auto;
    gap: 25px;
    margin-bottom: 10px;
  }
  .image-and-name {
    grid-row: span 2;
    justify-self: center;
    flex-direction: column;
    gap: 15px;
  }

  section.double-image {
    flex-direction: row;
  }
}

@media (max-width: 650px) {
  .box-price-wrapper {
    justify-content: space-between;
  }
}

@media (max-width: 480px) {
  * {
    text-align: center;
  }
  .box-option p {
    justify-self: center;
    width: auto;
  }

  #form-payment-wrapper {
    flex-direction: column;
    gap: 15px;
  }
  div.form-box {
    text-align: center;
  }
}

@media (max-width: 400px) {
  h1 {
    font-size: 36px;
  }

  .price {
    font-size: 2.5rem;
  }
}
